body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  color: #ECF2F9;
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #3EC1D3;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #27496D;
}


.bottom-container {
  background-color: #CABBE9;
  padding: 50px 0 20px;
}

.middle-container {

  margin: 100px 0;
}

.top-container {
  background-color: #A1EAFB;
  position: relative;
  padding-top: 100px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}
a {
  color: #892CDC;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
  font-weight: 600;
}

a:hover {color: #EAF6F6;}
p {
  line-height: 2;
}

.it {
  max-height: 500px;
  max-width: 500px;
  border-radius: 100%;
  width: 25%;
  float: left;
  margin-right: 30px;
}

.phone {
  max-height: 500px;
  max-width: 500px;
  border-radius: 100%;
  width: 25%;
  float: right;
  margin-left: 30px;
}

.it:hover {
  opacity: 0.5;
}

.phone:hover {
  opacity: 0.5;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.iOS {
  text-decoration: underline;
  color: #ECF2F9;
}

.profile {
  width: 50%;
  margin: 100px auto 100px auto;
}

.profilepic {
  max-height: 500px;
  max-width: 500px;
  border-radius: 100%;
  width: 25%;
}

.intro {
  width: 50%;
  margin: auto;

}

hr {
  border: dotted #C8D9EB 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;

}

.contact2 {
  width: 35%;
  margin: 40px auto 60px;

}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
